.prison__location {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.prison__location > .inputWrapper {
  width: 48%;
  margin-bottom: 10px;
}

.prison__location .field-title {
  padding: 0;
}

.field-title_locations {
  display: flex;
  align-items: center;
}

.field-title__location {
  position: relative;
  display: inline-block;
  width: 120px;
  padding: 8px 24px 6px;
  color: rgba(0, 0, 0, .5);
  text-align: center;
  cursor: pointer;
  transition: .3s;
}

.field-title__location:not(.field-title__location_active):hover {
  color: #000;
  transition: .3s;
}

.field-title__location button {
  position: absolute;
  display: none;
  top: 4px;
  right: 3px;
  width: 21px;
  height: 21px;
  padding-left: 7px;
  border: 1px solid transparent;
  border-radius: 2px;
  background: none;
  outline: none;
  opacity: .5;
  cursor: pointer;
  transition: .3s;
}

.field-title__location:hover button {
  display: block;
  transition: .3s;
}

.field-title__location button:hover {
  background-color: #e6e6e6;
  opacity: 1;
  transition: .3s;
}

.field-title__location button:active {
  border-color: #000;
}

.field-title__location_active {
  color: #fff;
  background-color: #4a4a4a;
}

.field-title__location_active button svg {
  fill: #fff;
}

.field-title__location_active button:hover {
  background-color: rgba(230, 230, 230, .5);
}

.field-title__location_active button:active {
  border-color: #fff;
}

.location-delete {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.location-delete_show {
  display: block;
}

.location-delete span {
  display: inline-block;
  width: 50%;
  padding: 8px 6px 6px;
  font-weight: normal;
  text-transform: none;
  cursor: pointer;
}

.location-delete span:first-child {
  background-color: #d0011b;
  color: #fff;
}

.location-delete span:first-child:hover {
  background-color: #E47D8A;
}

.location-delete span:first-child:active {
  background-color: #f1bac1;
  color: rgba(255, 255, 255, .5);
}

.location-delete span:last-child {
  background-color: #f3f3f3;
  color: #000;
}

.location-delete span:last-child:hover {
  background-color: #d8d8d8;
}

.location-delete span:last-child:active {
  background-color: #f3f3f3;
  color: rgba(0, 0, 0, .5);
}

.field-title__plus {
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 1px #b2b2b2;
  border-radius: 2px;
  background-color: transparent;
  color: rgba(0, 0, 0, .5);
  outline: none;
}

.field-title__plus:hover {
  color: #000;
  background-color: #f0f0f0;
  cursor: pointer;
}

.field-title__plus:active {
  border-color: #000;
}

.field-title_locations .inputWrapper {
  margin-left: auto;
}

.field-title_locations .input {
  padding: 8px 8px 6px;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.prison__years {
  margin-bottom: 58px;
}

.years__list {
  display: flex;
  flex-wrap: wrap;
}

.year {
  width: 59.5px;
  text-align: center;
  margin-right: 6px;
  margin-bottom: 10px;
}

.year input {
  display: none;
}

.year span {
  display: inline-block;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 5px;
  border-radius: 3px;
  font-size: 16px;
}

.year span:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.year input:checked + span {
  color: #fff;
  background-color: #4a4a4a;
}

.year input:checked + span:hover {
  background: rgba(0, 0, 0, 1);
}

.amount {
  display: inline-block;
  position: relative;
  width: 150px;
  padding: 13px 13px 12px 64px;
  margin-right: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: #f3f3f3;
}

.amount:hover {
  background-color: #f9f9f9;
}

.amount__year {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  opacity: .5;
}