.prisons {
  width: 100%;
  border-collapse: collapse;
}

.prisons thead {
  font-weight: bold;
}

.prisons thead td {
  border-top: none;
}

.prisons__cell {
  padding: 10px 0;
}

.prisons td {
  border-top: 1px solid rgba(0,0,0,0.3);
}