.prisons {
  width: 100%;
  border-collapse: collapse;
}

.prisons thead {
  font-weight: bold;
  user-select: none;
}

.prisons thead td {
  border-top: none;
  text-transform: uppercase;
  font-size: 14px;
  white-space: nowrap;
  padding: 0 40px 10px 0;
  cursor: pointer;
  transition: .2s;
}

.prisons thead td:hover {
  opacity: .5;
  transition: .2s;
}

.prisons thead td:last-child {
  padding-right: 20px;
}

.prisons thead td.sort_DESC:after {
  position: absolute;
  margin-left: 5px;
  margin-top: 2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #000 transparent transparent transparent;
  content: '';
}

.prisons thead td.sort_ASC:after {
  position: absolute;
  margin-left: 5px;
  margin-top: 2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent #000 transparent;
  content: '';
}

.prisons tbody tr {
  cursor: pointer;
}

.prisons tbody tr:hover {
  background-color: #f9f9f9;
}

.prisons tbody tr:active {
  color: #ff5c00;
}

.prisons__cell {
  padding: 10px 25px 10px 0;
  vertical-align: top;
}

.prisons__cell_period {
  white-space: pre;
}

.prisons__strength {
  text-align: left;
}

.prisons__strength span {
  display: inline-block;
  width: 57px;
  text-align: right;
}

.prisons td {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
