.button {
  width: 120px;
  font-size: 12px;
  padding: 7px 0 5px;
  border: 1px solid #b2b2b2;
  background-color: transparent;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #f0f0f0;
}

.button:active {
  border-color: #000;
}

.button_orange {
  border-color: #ffceb2;
  color: #ff5c00;
}

.button_orange:hover {
  background-color: #fff5f0;
}

.button_orange:active {
  border-color: #ff5c00;;
}

.button_red {
  border-color: #f1bac1;
  color: #d0021b;
}

.button_red:hover {
  background-color: #fcf1f3;;
}

.button_red:active {
  border-color: #d0011b;
}