.Select-control {
  height: 44px;
  border: 2px solid transparent;
  border-radius: 0;
  background-color: #f3f3f3;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 44px;
}

.Select-arrow {
  border-width: 5px 5px 0 5px;
}

.Select-arrow-zone:hover > .Select-arrow {
  border-bottom-color: #666;
}

.Select-control:hover {
  box-shadow: none;
}

.is-open .Select-control {
  border: 2px solid #000;
  border-bottom-color: transparent;
}

.is-open .Select-arrow {
  border-color: transparent transparent #999 transparent;
  border-width: 0 5px 5px 5px;
}

.Select-menu-outer {
  border: 2px solid #000;
  border-top: none;
  border-radius: 0;
}