.loginPage {
  padding-top: 70px;
  font-family: 'PT Sans', sans-serif;
}

.loginPage__link {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.loginPage__form {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
}

.password-wrap:after {
  content: 'enter';
  display: block;
  text-transform: uppercase;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0.2;
}

.password__input {
  font-size: 48px;
  font-weight: bold;
  outline: none;
  border: none;
}

.password__line {
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width .3s;
}

.password__input:focus + .password__line {
  width: 100%;
  transition: width .3s;
}

.loginPage__remind {
  text-align: right;
  opacity: 0.5;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}