.prisonPage {
  padding-top: 50px;
  padding-bottom: 80px;
}

.prison__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  margin-bottom: 50px;
}

.prison__back-link {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.prison__title-name {
  max-width: 600px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.prison__title-period {
  opacity: 0.5;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color: #000;
}

.prison__saved {
  margin-top: 5px;
  opacity: 0.5;
  font-size: 12px;
  font-weight: normal;
}

.prison__saved-date {
  margin-right: 3px;
}

.prison__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.prison__left,
.prison__right {
  width: 48%;
}

.prison__name {
  margin-bottom: 33px;
}

.field-title {
  width: 100%;
  padding: 6px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.field-title_en {
  color: #3949ab;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  background-color: #f3f3f3;
  outline: none;
}

.prison__name div:nth-child(2) input {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.input:hover {
  background-color: #f9f9f9;
}

.input_en {
  color: #3949ab;
  background-color: #ebecf6;
}

.inputLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  z-index: 10;
  transition: width .3s;
}

.input_en + .inputLine {
  background-color: #3949ab;
}

.input:focus + .inputLine {
  width: 100%;
}

.prison__activity {
  margin-bottom: 50px;
}

.prison__location {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prison__location .inputWrapper {
  width: 48%;
  margin-bottom: 10px;
}

.prison__location .field-title {
  padding: 0;
}

.field-title__location {
  display: inline-block;
  color: rgba(0, 0, 0, .5);
  padding: 8px 24px;
}

.field-title__location_active {
  color: #fff;
  background-color: #4a4a4a;
}

.field-title__plus {
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 1px #b2b2b2;
  border-radius: 2px;
  background-color: transparent;
  color: rgba(0, 0, 0, .5);
  outline: none;
}

.field-title__plus:hover {
  color: #000;
  background-color: #f0f0f0;
  cursor: pointer;
}

.field-title__plus:active {
  border-color: #000;
}

.prison__years {
  margin-bottom: 58px;
}

.years__list {
  display: flex;
  flex-wrap: wrap;
}

.year {
  width: 59.5px;
  text-align: center;
  margin-right: 6px;
  margin-bottom: 10px;
}

.year input {
  display: none;
}

.year span {
  display: inline-block;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 5px;
  border-radius: 3px;
  font-size: 16px;
}

.year span:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.year input:checked + span {
  color: #fff;
  background-color: #4a4a4a;
}

.year input:checked + span:hover {
  background: rgba(0,0,0,1) ;
}

.amount {
  display: inline-block;
  position: relative;
  width: 150px;
  padding: 13px 13px 12px 64px;
  margin-right: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: #f3f3f3;
}

.amount:hover {
  background-color: #f9f9f9;
}

.amount__year {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  opacity: .5;
}

.amount__input {
  width: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.prison__description textarea{
  min-width: 100%;
  max-width: 100%;
  min-height: 400px;
  padding: 12px;
  border: none;
  background-color: #f3f3f3;
  outline: none;
}

.prison__description_en textarea{
  background-color: #ebecf6;
}

.prison__photo {
  margin-bottom: 50px;
}

.prison__photo figure {
  display: inline-block;
  margin: 0 10px 0 0;
}