.field-title {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 0;
  font-family: 'Formular', sans-serif;
  font-size: 16px;
  background-color: #f3f3f3;
  outline: none;
}

.input:hover {
  background-color: #f9f9f9;
}

.input_inside {
  padding: 0;
  background-color: transparent;
}

/*noinspection CssInvalidPseudoSelector*/
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.input_en {
  color: #3949ab;
  background-color: #ebecf6;
}

.input_en:hover {
  background-color: #F5F5FA;
}

.inputLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  z-index: 10;
  transition: width .3s;
}

.input_en + .inputLine {
  background-color: #3949ab;
}

.input:focus + .inputLine {
  width: 100%;
}
