.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 0;
  font-family: 'Formular', sans-serif;
  font-size: 16px;
  background-color: #f3f3f3;
  outline: none;
}

.input:hover {
  background-color: #f9f9f9;
}

.input_inside {
  padding: 0;
  background-color: transparent;
}

/*noinspection CssInvalidPseudoSelector*/
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.inputLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  z-index: 10;
  transition: width .3s;
}

.input:focus + .inputLine {
  width: 100%;
}
